<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--  AUTOWARE DE PARTIDA DEL ControladorMesaInicial -->
	<bean name="partida" scope="singleton" 
		 class="es.insa.proyecto.mus.modelo.Partida"/>
		 
	<!--  AUTOWARE DEL ControladorGestorFasesLance -->
	<bean name="gestorFaseApuestas" scope="singleton" 
		 class="es.insa.proyecto.mus.negocio.GestorFasesLance"/>
	
	<!--  GESTOR TANTEO  -->
	<bean name="gestorTanteo" scope="singleton" 
		 class="es.insa.proyecto.mus.negocio.GestorTanteoParcial">
		<property name="ganadorGrande" ref="ganadorGrande" />
		<property name="ganadorChica" ref="ganadorChica" />
		<property name="ganadorPares" ref="ganadorPares" />
		<property name="ganadorJuego" ref="ganadorJuego" />
		<property name="ganadorPunto" ref="ganadorPunto" />
		<property name="partida" ref="partida" />
		<property name="gestorApuestas" ref="gestorApuestas" />
  	</bean>
  	
	<!--  GESTOR CONTEO  -->
	<bean name="gestorConteo" scope="singleton" 
		 class="es.insa.proyecto.mus.negocio.GestorConteo">
		<property name="comprobadorParesJuego" ref="comprobadorParesJuego"/>
  	</bean>
  	
  	<!--  GESTOR FASESLANCE  -->
	<bean name="gestorFasesLance" scope="singleton" 
		 class="es.insa.proyecto.mus.negocio.GestorFasesLance">
		<property name="gestorApuestas" ref="gestorApuestas"/>
		<property name="paresJuegos" ref="comprobadorParesJuego"/>
		<property name="gestorTanteo" ref="gestorTanteo" />
  	</bean>
  	
  	<!--  GESTOR FASEJUEGO -->
  	<bean name="gestorFaseJuego" scope="singleton" 
  		 class="es.insa.proyecto.mus.negocio.GestorFaseJuego">
  		<property name="crupier" ref="crupier"/>
  		<property name="partida" ref="partida" />
  	</bean>
	
	<!--  GESTOR APUESTAS  -->
	<bean name="gestorApuestas" scope="singleton" 
		class="es.insa.proyecto.mus.negocio.GestorDeApuestas">
  	</bean>
	
	<!--  GESTOR COMPROBADOR PARES-JUEGO  -->
	<bean name="comprobadorParesJuego" scope="singleton" 
		 class="es.insa.proyecto.mus.negocio.ComprobadorParesJuego">
  	</bean>
	
	<!-- CRUPIER -->
	<bean name="crupier" scope="singleton" 
		 class="es.insa.proyecto.mus.negocio.Crupier">
		<property name="daoMazo" ref="daoMazo"/>
	</bean>
	
	<!-- CLASES DE COMPROBACIÓN DE GANADOR -->
	<bean name="ganadorGrande"
		class="es.insa.proyecto.mus.negocio.GanadorGrande">
		<property name="partida" ref="partida" />
	</bean>
	
	<bean name="ganadorChica"
		class="es.insa.proyecto.mus.negocio.GanadorChica">
		<property name="partida" ref="partida" />
	</bean>

	<bean name="ganadorPares"
		class="es.insa.proyecto.mus.negocio.GanadorPares">
		<property name="comparadorGrande" ref="ganadorGrande" />
		<property name="comprobadorPares" ref="comprobadorParesJuego" />
	</bean>

	<bean name="ganadorJuego"
		class="es.insa.proyecto.mus.negocio.GanadorJuego">
		<property name="partida" ref="partida" />
		<property name="comprobadorJuego" ref="comprobadorParesJuego" />
	</bean>

	<bean name="ganadorPunto"
		class="es.insa.proyecto.mus.negocio.GanadorPunto">
		<property name="partida" ref="partida" />
		<property name="comprobadorJuego" ref="comprobadorParesJuego" />
	</bean>
	
	<!--  DAO CARTA -->
	<bean name="daoCarta" scope="singleton" 
		 class="es.insa.proyecto.mus.persistencia.DaoCartaHibernate">
  			<property name="sessionFactory" ref="sfSpring" /> 
  	</bean>

	<!-- DAO JUGADOR  -->
	<bean name="daoJugador"  scope="singleton" 
		 class="es.insa.proyecto.mus.persistencia.DaoJugadorHibernate">
		<property name="sessionFactory" ref="sfSpring" />
	</bean>

	<!-- DAO MAZO -->
	<bean name="daoMazo" scope="singleton" 
		 class="es.insa.proyecto.mus.persistencia.DaoMazoHibernate">
		<property name="sessionFactory" ref="sfSpring" />
	</bean>

	<!-- DAO PARTIDA -->
	<bean name="daoPartida" scope="singleton" 
		 class="es.insa.proyecto.mus.persistencia.DaoPartidaHibernate">
		<property name="sessionFactory" ref="sfSpring" />
	</bean>

	<!-- SESSION FACTORY DE SPRING -->
	<bean name="sfSpring" scope="singleton" 
		 class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.default_schema">MUS</prop>
			</props>
		</property>
		<!-- Las cosas especificas de una BD son otro bean -->
		<property name="dataSource" ref="ds" />
		<!-- Los mapeos que los busque (si son varios utilizamos array) -->
		<property name="mappingResources">
			<array>
				<value>cfg/Mapeo.hbm.xml</value>
			</array>
		</property>
	</bean>

	<!-- UN DATASOURCE ES UNA CONEXIÓN A BD -->
	<bean name="ds" scope="singleton" 
		 class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:derby:C:\BaseDeDatosMus" />
		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
	</bean>

	<!-- ============================= -->
	<!-- CONFIGURACIÓN PARA BD MARIADB -->
	<!-- ============================= -->
	<bean name="sfMariaDB" scope="singleton" 
		 class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.default_schema">mus</prop>
			</props>
		</property>
		<property name="dataSource">
			<bean name="dsMariaDB" scope="singleton" 
				 class="org.springframework.jdbc.datasource.DriverManagerDataSource">
				<property name="url" value="jdbc:mysql://192.168.1.18:3306/mus" />
				<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		        <property name="username" value="usuario"/>
		        <property name="password" value="mus"/>
			</bean>
		</property>
		<property name="mappingResources">
			<array>
				<value>cfg/Mapeo.hbm.xml</value>
			</array>
		</property>
	</bean>

</beans>
